<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summary.mysql.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.summary.mysql.domain.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="sender_phone" jdbcType="VARCHAR" property="senderPhone" />
    <result column="sender_address" jdbcType="VARCHAR" property="senderAddress" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_no, user_id, receiver_name, receiver_phone, receiver_address, 
    sender_name, sender_phone, sender_address, product_info, gmt_create, gmt_modified
  </sql>

  <insert id="insert" parameterType="com.summary.mysql.domain.Order">
    insert into order (id, order_id, order_no, 
      user_id, receiver_name, receiver_phone, 
      receiver_address, sender_name, sender_phone, 
      sender_address, product_info, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{receiverName,jdbcType=VARCHAR}, #{receiverPhone,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR}, #{senderPhone,jdbcType=VARCHAR}, 
      #{senderAddress,jdbcType=VARCHAR}, #{productInfo,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

</mapper>